.mobile-menu-open-icon{
    width: 32px;
    height: 32px;
}
.header-container{
    display: flex;
    align-items: center;
   justify-content: space-between;

}
.main-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
@media screen and (max-width: 767px){
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
    .mobile-menu-open{
        background-color: transparent;
        border: none;
        padding: 0;
        }
        .mobile-menu{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1000;
            top: 0;
            left: 0;
            background-color: #FFFFFF;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
       
        .mobile-menu.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        
        }
        .mobile-menu-close-icon{
            width: 8px;
            height: 8px;
            fill: #2E2F42;
        }
        .mobile-menu-close-btn{
          position: absolute;
          top: 24px;
          right: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #E7E9FC;
          border: 1px solid #2E2F42;
          padding: 0;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .mobile-menu-container{
          display: flex;
          margin: auto;
          flex-direction: column;
            position: relative;
            padding-top: 80px;
            padding-left: 40px;
            padding-bottom: 40px;
            height: 100%;
            margin: 0;
        }
        .mob-menu-list{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

.mob-menu-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
  .mobile-menu-numbr {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
  }
  .mobile-menu-numbr:hover,
  .mobile-menu-numbr:focus {
    color: var(--accent-color);
  }
  .mobile-menu-mail{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
  }
  .mobile-menu-mail:hover,
  .mobile-menu-mail:focus {
    color: var(--accent-color);
  }
  .mobile-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    background-color: #404bbf;
  }
 
  .mobile-menu-item {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    
  }


  .main-title {
    margin-bottom: 72px;
    width: 100%;
    font-size: 36px;
    line-height: 1.11;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/mob-1x-hero-bg-img.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero{
      background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/mob-2x-hero-bg-img.jpg);
    }
  }
  .title-strategies {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
  }
  .description-stategies {
    font-weight: 500;
  }
  .strategies-card:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-card:not(:last-child) {
    margin-bottom: 72px;
  } 
  .customers-list-item {
    display: flex;
    flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
  }
    .customers-item {
    width: calc((100% - 16px) / 2) ;
  }
  .section-cont{
    max-width: 392px;
  }
  .footer{
    text-align: center;
    flex-direction: column;
  } 
  .logo-f{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-description {
    text-align: left;
  }
  .social-section{
    max-width: 396px;
  }
  .social-title{
    margin-top: 72px;
  }

  .footer-form-title{
    margin-top: 72px;
  }
  .footer-form-submit{
    margin: auto;
    margin-top: 16px;
  }
  .footer-form-input{
    padding-right: 16px;
    min-width: 100%;
  }

  .modal{
    max-width: 100%;
    margin-left: 18px;
    margin-right: 18px;
  }

}