*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --accent-color: #404bbf;
  --praimary-text-color: #2e2f42;
  --secondary-text-color: #434455;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container{
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container{
    max-width: 1158px;
  }
}
@media screen and (max-width: 767px) {
  .menu{
    display: none;
  }
  .menu-address{
    display: none;
  } 
  .doing-sectoin{
    display: none;
  }
  .strategies-icon{
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu{
    display: none;
  }
  .mobile-menu-open{
    display: none;
  }
  .doing-sectoin{
    display: none;
  }
  .strategies-icon{
    display: none;
  }
}
.logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--praimary-text-color);
}

.studio-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-btn:hover,
.studio-btn:focus {
  background-color: var(--accent-color);
}



.main-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  background-color: var(--praimary-text-color);
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--praimary-text-color);
  text-align: center;
  padding-top: 32px;
  margin-bottom: 8px;
}
.title-strategies {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--praimary-text-color);
  margin-bottom: 8px;
}
.studio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--praimary-text-color);
  margin-bottom: 72px;
}
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.description-stategies {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.team-list-item {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
}

.team-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-link:hover,
.team-list-link:focus {
  background-color: #404bbf;
}




.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 168px;
  height: 88px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover,
.customers-list-link:focus {
  fill: #404bbf;
  border: 1px solid #404bbf;
}



.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-p {
  width: 264px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.section-team {
  background-color: #f4f4fd;
}
.back-photo-team {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.social-section {
  display: flex;
}
.social-media {
  margin-left: 120px;
}
.social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-list-item {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}
.footer-form-title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-left: 80px;
margin-bottom: 16px;
}
.footer-form{
  margin-left: 80px;
  display: flex;
 gap: 24px;
}
.footer-form-input{
  width: 264px;
  height: 40px;
  outline: none;
  border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding-left: 16px;
padding-top: 8px;
padding-bottom: 8px;
color: #FFFFFF;
}
.footer-form-input::placeholder{
  font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: 2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.footer-form-icon{
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.footer-form-submit{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: flex;
 justify-content: center;
 align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-submit:hover,
.footer-form-submit:focus{
  background-color: var(--accent-color);
}



.backdrop{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibilyty 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.modal-close-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
  background-color: #404BBF;
}
.modal-close-btn:hover .modal-close-icon,  
.modal-close-btn:focus .modal-close-icon {
fill: #FFFFFF;
}

.modal-form{
  display: flex;
  flex-direction: column;

}
.form-title{
  font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
display: block;
padding-top: 72px;
margin-bottom: 16px;
}
.modal-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none; 
  border-color: #4D5AE5 ;
}
.modal-form-input-desc{
  display: block;
  font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
}
.modal-form-fieid{
  margin-bottom: 8px;
}
.modal-form-input-wrapper{
  display: block;
  position: relative;
}
.modal-input-icon{
  fill: #2E2F42;
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-input-icon{
  fill: #4D5AE5 ;
}
.modal-form-message{
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: #4D5AE5 ;
}
.modal-form-message::placeholder{
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc{
  display: flex;
  align-items: center;
  font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 24px;
}
.modal-form-check-desc::before {
content: '';
width: 16px;
height: 16px;
display: block;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
cursor: pointer;
margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before{
background-color: #4D5AE5;
background-image: url(../images/check.svg);
background-repeat: no-repeat;
background-position: 50% 50% ;
}
.modal-form-check:focus + .modal-form-check-desc::before{
  border: 1px solid #404BBF;
border-radius: 2px;
  }
.modal-form-submit{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-title{
  width: 105px;
  height: 24px;
}
.modal-form-submit:hover,
.modal-form-submit:focus{
  background-color: var(--accent-color);
}